<%= form_for(@bank) do |f| %>
  <% if @bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank.errors.count, "error") %> prohibited this bank from being saved:</h2>

      <ul>
      <% @bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.check_box :default_bank %>
    <%= f.label :"Banco Principal", :style => 'color:red;' %><br>
  </div>

  <div class="field">
    <%= f.label :"Nome do Banco" %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :"Cedente" %><br>
    <%= f.text_field :cedente %>
  </div>

  <div class="field">
    <%= f.label :"Cedente Documento" %><br>
    <%= f.text_field :cedente_doc %>
  </div>

  <div class="field">
    <%= f.label :"Agência" %><br>
    <%= f.text_field :agencia %>
  </div>
  <div class="field">
    <%= f.label :"Conta Corrente" %><br>
    <%= f.text_field :conta_corrente %>
  </div>
  <div class="field">
    <%= f.label :"Variação" %><br>
    <%= f.text_field :variacao %>
  </div>
  <div class="field">
    <%= f.label :"Aceite" %><br>
    <%= f.text_field :aceite %>
  </div>
  <div class="field">
    <%= f.label :"Carteira" %><br>
    <%= f.text_field :carteira %>
  </div>
  <div class="field">
    <%= f.label :"Convênio" %><br>
    <%= f.text_field :convenio %>
  </div>
  <div class="field">
    <%= f.label :"Instrução de Juros" %><br>
    <%= f.text_field :instrucao_juros %>
  </div>
  <div class="actions">
    <%= f.submit "Incluir", class: 'btn btn-primary' %>
  </div>
<% end %>
