<h1>Bancos</h1>

<table>
  <thead>
    <tr>
      <th>Principal</th>
      <th>Name</th>
      <th>Agencia</th>
      <th>Conta corrente</th>
      <th>Variacao</th>
      <th>Aceite</th>
      <th>Carteira</th>
      <th>Convenio</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @banks.each do |bank| %>
      <tr>
        <% if bank.default_bank %>
        <td style="color:green;">Sim</td>
        <% else %>
        <td style="color:red;">Não</td>
        <% end %>
        <td><%= bank.name %></td>
        <td><%= bank.agencia %></td>
        <td><%= bank.conta_corrente %></td>
        <td><%= bank.variacao %></td>
        <td><%= bank.aceite %></td>
        <td><%= bank.carteira %></td>
        <td><%= bank.convenio %></td>
        <td><%= link_to 'Editar', edit_bank_path(bank) %></td>
        <td><%= link_to 'Excluir', bank, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Incluir Novo', new_bank_path, :class => "btn btn-primary" %>
