<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Nome Completo" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :"Nome do Aluno" %><br>
    <%= f.text_field :student %>
  </div>
  <div class="field">
    <%= f.label :"CPF (Pai do Aluno)" %><br>
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :"Email (Pai do Aluno)" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :"Turma/Classe - Aluno" %><br>
    <%= f.text_field :turma %>
  </div>
  <div class="field">
    <%= f.label :"Endereço" %><br>
    <%= f.text_field :address %>
  </div>
  <div class="actions">
    <%= f.submit "Incluir Dados", class: 'btn btn-success' %>
  </div>
<% end %>
