<h1>Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Nome Completo</th>
      <th>Nome Aluno</th>
      <th>CPF (Pai do Aluno)</th>
      <th>Email (Pai do Aluno)</th>
      <th>Turma/Classe - Aluno</th>
      <th>Endereço</th>

      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.student %></td>
        <td><%= client.cpf %></td>
        <td><%= client.email %></td>
        <td><%= client.turma %></td>
        <td><%= client.address %></td>
        <td><%= link_to 'Editar', edit_client_path(client) %></td>
        <td><%= link_to 'Excluir', client, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Incluir Novo', new_client_path, :class => 'btn btn-primary' %>
