<h1>Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Nome Completo</th>
      <th>Documento</th>
      <th>Referência</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.document %></td>
        <td><%= client.ref %></td>
        <td><%= link_to 'Editar', edit_client_path(client) %></td>
        <td><%= link_to 'Excluir', client, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Incluir Novo', new_client_path, :class => 'btn btn-primary' %>
